.animate-slide-y {
  @apply transition-all duration-300 hover:-translate-y-2;
}

.animate-slide-x {
  @apply transition-all duration-300 hover:translate-x-2;
}

.avatar-group {
  @apply flex items-center justify-center text-white -space-x-4;
}

.avatar {
  @apply relative inline-flex shrink-0 items-center justify-center;
}
.avatar > img {
  @apply h-full w-full object-cover object-center;
}
.avatar-initial {
  @apply flex h-full w-full items-center justify-center font-extrabold uppercase;
}
.avatar-indicator {
  width: var(--indicator-size);
  height: var(--indicator-size);
  bottom: calc(var(--indicator-size) * 0.15);
  left: calc(var(--indicator-size) * 0.15);
  @apply absolute rounded-full ring-2 ring-white dark:ring-slate-800; 
}
.avatar-ring {
  @apply ring-2 ring-white dark:ring-slate-800;
}
