.breadcrumb-ul {
  @apply scrollbar-hidden [scrollbar-width:none] flex items-center gap-1 overflow-x-auto text-sm text-slate-600;
}

.breadcrumb-li {
  @apply flex items-center justify-center gap-1;
}

.breadcrumb-item {
  @apply flex items-center justify-center gap-1;
}

.breadcrumb-separator {
  @apply bg-slate-500 dark:bg-slate-600;
}

.breadcrumb-link {
  @apply text-blue-600 cursor-pointer whitespace-nowrap;
}
