.demo {
  padding-top: 0.5rem; /* py-2 */
  padding-bottom: 0.5rem; /* py-2 */
}

.demo form {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* gap-4 */
}

.demo button {
  border: inherit;
}

.demo-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.5rem; /* gap-2 */
  align-items: center;
}

.demo-col {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* gap-4 */
  width: 100%;
}
